@font-face {
  font-display: swap; font-family: code;
  src: url("/.fonts/code.woff"); }
@font-face {
  font-display: swap; font-family: handwriting;
  src: url("/.fonts/handwriting.woff"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: normal; font-weight: 300;
  src: url("/.fonts/light.woff") format("woff2 supports variations"),
       url("/.fonts/light.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: normal; font-weight: 400;
  src: url("/.fonts/roman.woff") format("woff2 supports variations"),
       url("/.fonts/roman.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: italic; font-weight: 400;
  src: url("/.fonts/italic.woff") format("woff2 supports variations"),
       url("/.fonts/italic.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: normal; font-weight: 500;
  src: url("/.fonts/strong.woff") format("woff2 supports variations"),
       url("/.fonts/strong.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: normal; font-weight: 700;
  src: url("/.fonts/bold.woff") format("woff2 supports variations"),
       url("/.fonts/bold.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal; font-style: normal; font-weight: 900;
  src: url("/.fonts/black.woff") format("woff2 supports variations"),
       url("/.fonts/black.woff") format("woff2-variations"); }

:root {
  background-color: light-dark(white, #121212);
  color: light-dark(black, gainsboro);
  color-scheme: light dark;
  font: 13px/1.33 text, sans-serif;

  @media (min-width: 26rem) { font-size: 14px; }
  @media (min-width: 28rem) { font-size: 15px; }
  @media (min-width: 30rem) { font-size: 16px; }

  @media (min-width: 48rem) { font-size: 17px; }
  @media (min-width: 51rem) { font-size: 18px; }
  @media (min-width: 54rem) { font-size: 19px; }
  @media (min-width: 57rem) { font-size: 20px; }
  @media (min-width: 60rem) { font-size: 21px; }
  @media (min-width: 63rem) { font-size: 22px; }
  @media (min-width: 66rem) { font-size: 23px; }
  @media (min-width: 69rem) { font-size: 24px; }
  @media (min-width: 72rem) { font-size: 25px; }
  @media (min-width: 75rem) { font-size: 26px; }
}

::selection { background-color: light-dark(cyan, darkcyan); }

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    background-color: yellow;
    color: black;
    text-decoration: none;
  }
}

aside {
  @media (max-width: 45rem) { display: none; }

  color: slategray;
  font-size: .9rem;
  font-family: handwriting;
  position: absolute;
  width: 7.33rem;

  &.left {
    margin-left: calc(-7.33rem + -2.33rem);
    text-align: right;
    transform: rotate(-2deg);
  }

  &.right {
    margin-right: calc(-7.33rem + -1.33rem);
    right: 0;
    transform: rotate(2deg);
  }
}

body {
  margin: 0 auto;
  max-width: 26rem;
  padding: 0 1.67rem;
}

code {
  background-color: light-dark(#efefef, #212121);
  font-family: code, monospace;
  font-size: .8rem;
  padding: 0 .2rem;
}

details {
  margin-bottom: .33rem;

  summary {
    font-weight: 500;
    margin-left: -.75rem;
    &:hover { cursor: pointer; }

    cite {
      color: #666;
      display: block;
      font-style: normal;
      font-size: .8rem;
      font-weight: 400;
      padding-left: .75rem;
    }

    time {
      color: #666;
      float: right;
      font-size: .8rem;
      font-weight: 400;
      padding-top: .2rem;
      text-align: right;
    }
  }

  div {
    border-left: .2rem solid light-dark(whitesmoke, #212121);
    margin-left: -.65rem;
    margin-top: .67rem;
    padding-left: .5rem;

    ul {
      font-family: code, monospace;
      font-size: 0;
      margin-left: -.2rem;

      li {
        background-color: light-dark(whitesmoke, #212121);
        color: gray;
        display: inline-block;
        font-size: .67rem;
        margin: .2em;
        padding: 0 .25em;
      }
    }
  }

  &[open] {
    margin-bottom: 1.33rem;

    summary {
      margin-left: -.85rem;
      cite { padding-left: .85rem; }
    }
  }
}

footer {
  padding: 2.67rem 0;

  a {
    color: light-dark(lightgray, dimgray);
    font-weight: 500;
    text-decoration: none;
  }
}

iframe {
  aspect-ratio: 16 / 9;
  border: none;
  margin: 0 0 .67rem -.835rem;
  width: calc(100% + 1.67rem);
}

img, video {
  margin: 0 0 .67rem -.835rem;
  object-fit: cover;
  width: calc(100% + 1.67rem);
}

h1, h2 {
  font-size: 1rem;
  margin: 2.67rem 0 .67rem 0;
}

h1 {
  color: light-dark(black, whitesmoke);
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  color: light-dark(firebrick, ghostwhite);
  font-weight: 700;
}

header {
  font-size: 0;
  font-weight: 500;
  padding: 2.67rem 0;

  a {
    font-size: 1rem;
    text-decoration: none;
    &:hover { color: black !important; }
  }

  a:first-child { color: deepskyblue; }

  a:last-child {
    color: light-dark(lightgray, dimgray);
    margin-left: .67rem;
    text-transform: lowercase;
  }
}

hr {
  border: none;
  background-color: light-dark(gainsboro, #212121);
  height: 1px;
  margin: 2.67rem 0;
}

main {
  position: relative;
  *:first-child { margin-top: 0;    }
  *:last-child  { margin-bottom: 0; }
}

mark {
  background-color: gold;
  color: black;
  padding: 0 .17rem;
}

ol, ul {
  padding: 0;
  li { margin-bottom: .33rem; }
}

p { margin: 0 0 .67rem 0; }

strong { font-weight: 500; }

table { width: 100%; }
