@font-face {
  font-display: swap; font-family: code;
  src: url("/.fonts/code.woff") format("woff2 supports variations"),
       url("/.fonts/code.woff") format("woff2-variations"); }
@font-face {
  font-display: swap; font-family: handwriting;
  src: url("/.fonts/handwriting.woff"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: normal; font-weight: 300;
  src: url("/.fonts/light.woff") format("woff2 supports variations"),
       url("/.fonts/light.woff") format("woff2-variations"); }
@font-face {
   font-display: swap;   font-family: text;
   font-stretch: normal;  font-style: italic; font-weight: 300;
   src: url("/.fonts/light-italic.woff") format("woff2 supports variations"),
        url("/.fonts/light-italic.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: normal; font-weight: 400;
  src: url("/.fonts/book.woff") format("woff2 supports variations"),
       url("/.fonts/book.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: italic; font-weight: 400;
  src: url("/.fonts/book-italic.woff") format("woff2 supports variations"),
       url("/.fonts/book-italic.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: normal; font-weight: 500;
  src: url("/.fonts/strong.woff") format("woff2 supports variations"),
       url("/.fonts/strong.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: normal; font-weight: 700;
  src: url("/.fonts/bold.woff") format("woff2 supports variations"),
       url("/.fonts/bold.woff") format("woff2-variations"); }
@font-face {
  font-display: swap;   font-family: text;
  font-stretch: normal;  font-style: normal; font-weight: 900;
  src: url("/.fonts/black.woff") format("woff2 supports variations"),
       url("/.fonts/black.woff") format("woff2-variations"); }

:root {
  background-color: white;
  color: black;
  font: 16px/1.5 text, sans-serif;
  @media (min-width: 51rem) { font-size: 18px; }
}

::selection { background-color: cyan; }

a {
  color: inherit;
  text-decoration: underline;

  &:hover, &:hover strong {
    background-color: yellow;
    border-radius: .0625rem;
    color: black !important;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    text-decoration: none;
  }
}

aside {
  @media (max-width: 45rem) { display: none; }

  color: darkslateblue;
  font-size: .9rem;
  font-family: handwriting;
  font-weight: 400;
  line-height: 1.1rem;
  position: absolute;
  width: 7.5rem;

  &.left {
    margin-left: -9.5rem;
    text-align: right;
    transform: rotate(-2deg);
  }

  &.right {
    margin-right: -8.5rem;
    right: 0;
    transform: rotate(2deg);
  }
}

blockquote {
  background-color: ghostwhite;
  border-radius: .25rem;
  margin: .5rem -1rem;
  padding: .75rem 1rem;
}

body {
  margin: 0 auto;
  max-width: 26rem;
  padding: 0 1rem;
}

code {
  background-color: azure;
  border-radius: .0625rem;
  display: inline-block;
  font-family: code, monospace;
  font-size: .875rem;
  font-weight: 100;
  padding: 0 .125rem;
  margin: 0 -.125rem;
}

footer {
  font-size: 0;
  padding: 3rem 0;

  a {
    color: lightslategray;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: lowercase;
    &:hover { margin-right: .75rem; }
  }
}

iframe {
  aspect-ratio: 16 / 9;
  border: none;
  margin: 0 0 .5rem -1rem;
  width: calc(100% + 2rem);
}

img, video {
  margin: 0 0 .5rem -1rem;
  object-fit: cover;
  width: calc(100% + 2rem);
}

h1, h2{ font-size: 1rem; }

h1 {
  font-weight: 900;
  margin: 2rem 0 1rem 0;
  text-transform: uppercase;
}

h2 {
  color: firebrick;
  font-weight: 700;
  margin: 2rem 0 .5rem 0;
}

h3 {
  font-weight: 700;
  font-variant: all-small-caps;
  margin: 1rem 0 .5rem 0;
}

header {
  font-size: 0;
  font-weight: 500;
  padding: 3rem 0;

  a {
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    &:hover { margin-right: .75rem; }
  }

  a:first-child { color: mediumblue; }

  a:last-child {
    color: lightslategray;
    text-transform: lowercase;
  }
}

hr {
  border: none;
  background-color: whitesmoke;
  height: .25rem;
  margin: 2rem 0;
}

main {
  position: relative;
  *:first-child { margin-top:    0; }
  *:last-child  { margin-bottom: 0; }
}

mark {
  background-color: greenyellow;
  border-radius: .0625rem;
  color: #111;
  font-weight: 500;
  padding: 0 .125rem;
  margin: 0 -.125rem;
}

ol, ul {
  margin: 0 0 .5rem 0;
  padding: 0;

  li {
    margin-bottom: .5rem;
    &::marker { color: lavender; }
  }
}

p {
  margin: 0 0 .5rem 0;
  strong { font-weight: 700; }
}

strong {
  color: #111;
  font-weight: 500;
}

table { width: 100%; }
