html {
  border-top: 1em solid black;
}

body {
  background-color: #f6f8fa;
  color: SlateGray;
  font-family: 'Indie Flower', cursive;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin: 5em auto;
  max-width: 960px;
  text-align: center;
}

h1 {
  font-family: 'Asap', sans-serif;
  color: black;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
}

div#banner { vertical-align: center; }

div#banner div {
  height: 5em;
  width: 5em;
  display: inline-block;
  margin: 0 1.5em;
  border-radius: 50%;
  box-shadow: 0px 0px 3px SlateGray;
  position: relative;
}

div#banner div:hover { cursor: pointer; }

div#banner div.small {
  height: 3em;
  width: 3em;
  transform: translateY(-4em);
  border: .5em dashed white;
  z-index: 1;
}

div#banner div.medium {
  height: 7em;
  width: 7em;
  transform: translateY(-2em);
  border: .5em dashed white;
  z-index: 2;
}

div#banner div.large {
  background-color: white;
  height: 11em;
  width: 11em;
  border: .5em dashed #000000;
  z-index: 3;
}

div#banner div#rss {
  background-color: #FFCC00;
  background-image: url('images/icons/rss.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

div#banner div#twitter {
  background-color: #5AC8FA;
  background-image: url('images/icons/twitter.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

div#banner div#avatar {
  background-image: url('images/avatar.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
}

div#banner div#email {
  background-color: #FF3B30;
  background-image: url('images/icons/email.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

div#banner div#vcard {
  background-color: #FF9500;
  background-image: url('images/icons/vcard.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

div#stars div {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-image: url('images/icons/star-empty.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

div#stars div:hover { cursor: pointer; }

div#stars.one-star div:nth-child(1) { background-image: url('images/icons/star-fill.svg'); }

div#stars.two-stars div:nth-child(1) { background-image: url('images/icons/star-fill.svg'); }
div#stars.two-stars div:nth-child(2) { background-image: url('images/icons/star-fill.svg'); }

div#stars.three-stars div:nth-child(1) { background-image: url('images/icons/star-fill.svg'); }
div#stars.three-stars div:nth-child(2) { background-image: url('images/icons/star-fill.svg'); }
div#stars.three-stars div:nth-child(3) { background-image: url('images/icons/star-fill.svg'); }

div#stars.four-stars div:nth-child(1) { background-image: url('images/icons/star-fill.svg'); }
div#stars.four-stars div:nth-child(2) { background-image: url('images/icons/star-fill.svg'); }
div#stars.four-stars div:nth-child(3) { background-image: url('images/icons/star-fill.svg'); }
div#stars.four-stars div:nth-child(4) { background-image: url('images/icons/star-fill.svg'); }

div#stars.five-stars div:nth-child(1) { background-image: url('images/icons/star-fill.svg'); }
div#stars.five-stars div:nth-child(2) { background-image: url('images/icons/star-fill.svg'); }
div#stars.five-stars div:nth-child(3) { background-image: url('images/icons/star-fill.svg'); }
div#stars.five-stars div:nth-child(4) { background-image: url('images/icons/star-fill.svg'); }
div#stars.five-stars div:nth-child(5) { background-image: url('images/icons/star-fill.svg'); }

p.lede {
  font-size: 1.5em;
  line-height: 48px;
}

@media (max-width: 1024px) {
  div#banner div.small  { margin: 0 2em;  }
  div#banner div.medium { margin: 0 -4em; }
}

@media (max-width: 640px) {
  body { margin: 1em auto; }

  h1 { font-size: 36px; }

  div#banner div.small {
    height: 1em;
    width: 1em;
    transform: translateY(-2em);
    border-width: .25em;
    margin: 0 2em;
  }

  div#banner div.medium {
    height: 3em;
    width: 3em;
    transform: translateY(-1em);
    border-width: .25em;
    margin: 0 -2.75em;
  }

  div#banner div.large {
    height: 5em;
    width: 5em;
    border-width: .25em;
    background-color: white;
  }

  div#stars div {
    height: 50px;
    width: 50px;
  }

  p.lede {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (max-width: 380px) {
  p.lede {
    font-size: 14px;
    line-height: 24px;
  }
}