/* @include ../.fonts/bryant/manifest.css       */
/* @include ../.fonts/bryant-alt/manifest.css   */
/* @include ../.fonts/concourse/manifest.css    */
/* @include ../.fonts/indie-flower/manifest.css */
/* @include ../.fonts/spot/manifest.css         */

:root {
  --text:     bryant,       sans-serif;
  --alt:      bryant-alt,   sans-serif;
  --headline: concourse,    sans-serif;
  --writing:  indie-flower, sans-serif;
  --code:     spot,         monospace;

  --black: #0A1215;
  --blue: #2463EB;
  --blue-light: #E0EEFC;
  --yellow: #FCDF46;

  background-color: #FEFFFF;
  color: var(--black);

  font: 16px/1.33 var(--text);
}

::selection { background-color: var(--blue-light); }

a {
  box-shadow: inset 0 -2px 0 var(--blue-light);
  color: var(--blue);
  text-decoration: none;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: inset 0 -1.33em 0 var(--yellow);
    color: black;
  }
}

body {
  border-top: .2rem solid #F2F1EE;
  margin: 0;
}

h1, h2, h3 {
  font-family: var(--headline);
  margin: 1em 0 1rem 0;
}

header {
  font-family: var(--alt);
  font-weight: 500;
  padding: 1rem;

  a[title="RSS Feed"], a[title="Email"] {
    font-size: .8rem;
    &:hover { box-shadow: inset 0 -1.33em 0 var(--yellow); }
  }

  a[title="RSS Feed"] { float: left;  }
  a[title="Email"]    { float: right; }
}

main {
  margin: auto;
  width: 48rem;
}

nav {
  height: 6rem;
  margin: auto;
  margin-top: 2rem;
  width: 48rem;

  a:nth-child(1), a:nth-child(2) {
    box-shadow: none;
    color: var(--black);
    position: absolute;
    margin-top: 2.5rem;
    text-transform: lowercase;

    &:hover { box-shadow: inset 0 -1.33em 0 var(--yellow); }
  }

  a:nth-child(1) { right: calc(50% + 5rem); }
  a:nth-child(2) {  left: calc(50% + 5rem); }

  a:nth-child(3) {
    background-image: url("/.images/avatar.gif");
    background-position-x: -100%;
    background-size: auto 100%;
    border-radius: 50%;
    box-shadow: 0 0 1px silver;
    display: block;
    height: 6rem;
    left: calc(50% - 3rem);
    position: absolute;
    width: 6rem;
    transition-delay: .2s;

    &.up, &:hover { background-position-x: -200%; }
  }

  a:nth-child(1):hover ~ a:nth-child(3) {background-position-x: 0%;   }
  a:nth-child(2):hover ~ a:nth-child(3) {background-position-x: -300%;}
}
