@font-face {
  font-family: bryant;
  font-weight: 300;
  font-style: normal;
  src: url("/.fonts/bryant/light.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 300;
  font-style: italic;
  src: url("/.fonts/bryant/light-italic.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 400;
  font-style: normal;
  src: url("/.fonts/bryant/regular.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 400;
  font-style: italic;
  src: url("/.fonts/bryant/regular-italic.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 500;
  font-style: normal;
  src: url("/.fonts/bryant/medium.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 500;
  font-style: italic;
  src: url("/.fonts/bryant/medium-italic.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 700;
  font-style: normal;
  src: url("/.fonts/bryant/bold.woff2");
}

@font-face {
  font-family: bryant;
  font-weight: 700;
  font-style: italic;
  src: url("/.fonts/bryant/bold-italic.woff2");
}
